version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1
jobs:
  zap-scan:
    docker:
      - image: 'owasp/zap2docker-stable'
    steps:
      - checkout
      - run:
            name: ZAP-SCAN
            command: |
              mkdir /zap/wrk
              zap-api-scan.py -t https://8bdc-2a02-8109-a180-7448-1eb-199b-7246-3590.eu.ngrok.io/api/account -f openapi --hook=hook.py -r report.html 2> /dev/null; (($? == 2)) && echo 'Done' >&2 
      - store_artifacts:
          path: /zap/wrk
          destination: zap-report

workflows:
  version: 2
  schedule-workflow:
    triggers:
      - schedule:
          # Every day, 0421Z.
          cron: "0,5,10,15,20,25,30,35,40,45,50,55 * * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - zap-scan




# version: 2.1
# setup: true
# jobs:
#   scan:
#     docker:
#       - image: owasp/zap2docker-stable
#     steps:
#       - run:
#             command: |
#               mkdir /zap/wrk
#               zap-api-scan.py -t https://8bdc-2a02-8109-a180-7448-1eb-199b-7246-3590.eu.ngrok.io/api/account -f openapi --hook=/zap/wrk/hook.py -r report.html
#       - store_artifacts:
#           path: /zap/wrk
#           destination: zap-report

# workflows:
#   version: 2
#   circle-ci-workflow:
#     jobs:
#       - scan
