version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1
  slack: circleci/slack@4.1

commands:
  notify_slack_error:
    steps:
      - slack/notify:
          event: fail
          template: basic_fail_1

  notify_slack_pass:
    steps:
      - slack/notify:
          event: pass
          template: basic_success_1

jobs:
  zap-scan:
    docker:
      - image: 'cimg/base:2022.01'
    steps:
      - checkout
      - setup_remote_docker
      - run:
          command: ./run zaptest
      - slack/notify:
          event: fail
          template: basic_fail_1
      - slack/notify:
          event: pass
          template: success_tagged_deploy_1
      - run:
          command: ./run down
      - store_artifacts:
          path: /zap/wrk
          destination: zap-report

  

workflows:
  zap-scan-workflow:
    jobs:
      - slack/on-hold:
          context: slack-secrets
      - zap-scan-hold:
            requires:
              - slack/on-hold
            type: approval
      - zap-scan:
            requires:
              - zap-scan-hold


# version: 2.1
# setup: true
# jobs:
#   scan:
#     docker:
#       - image: owasp/zap2docker-stable
#     steps:
#       - run:
#             command: |
#               mkdir /zap/wrk
#               zap-api-scan.py -t https://8bdc-2a02-8109-a180-7448-1eb-199b-7246-3590.eu.ngrok.io/api/account -f openapi --hook=/zap/wrk/hook.py -r report.html
#       - store_artifacts:
#           path: /zap/wrk
#           destination: zap-report

# workflows:
#   version: 2
#   circle-ci-workflow:
#     jobs:
#       - scan
